<div class="m-3 bg-light">
    <h4 class="display-6 d-flex justify-content-center text-primary"> {{ 'coursetressource' | translate }} </h4>
</div>
<p-toolbar>
    <ng-template pTemplate="left">
        <div class="card info">
            <div class="row">
                <div class="col-1 icoinfo"> <img src="assets/img/info.png" style="height: 30px; width: 30px;" /> </div>
                <div class="col-11">
                    <span class="asavoir">{{ 'asavoir'|translate }}</span>&nbsp;
                    <span class="msginfo">{{ 'msginfo'|translate }}&nbsp;</span>
                    <span class="text-danger champ-obligatoire">(*)</span>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <div class="col d-flex justify-content-end">
            <button (click)="rechercher()" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Rafraichir' | translate }}" icon="pi pi-refresh" iconPos="left"
                class="p-button-secondary"></button>&nbsp;&nbsp;
            <button (click)="reload()" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'reinitfiltre' | translate }}" icon="pi pi-refresh" iconPos="left"
                class="p-button-secondary"></button>
        </div>
    </ng-template>
</p-toolbar>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card cont bg-light">
                <div class="row mb-2" style="margin-top: 1%;">
                    <div class="col-4">
                        <!-- <div class="col-1" *ngIf="chargPer" style="margin-top: 3%;">
                        <div class="spinner-container">
                            <div class="spinner"></div>
                            &nbsp;<span style="color: rgb(1, 46, 91); font-style: italic;">{{
                                'Chargement'|translate }}</span>
                        </div>
                    </div>
                    <div [ngClass]="{'col-4': !chargPer,'col-3': chargPer}"> -->
                        <div class="form-group">
                            <label>{{ "periodea" | translate }}<span
                                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
                            </label>
                            <p-dropdown [disabled]="action=='view'" [(ngModel)]="notation.anneAccademiqueID"
                                [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vspa' | translate }}"
                                [showClear]="true" [options]="periodeAcademiques" optionLabel="nomperio"
                                optionValue="id" [filter]="true" filterBy="nomperio" [showClear]="true"
                                (onChange)="parcoursAcademiqueList(notation.anneAccademiqueID); ">
                                <ng-template let-act pTemplate="item">
                                    <div pTooltip="{{ act.nomperio }}" tooltipPosition="top"
                                        (click)="parcoursAcademiqueList(act.id)">
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        <span>{{act.anneedebut}} - {{act.anneefin}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <!--  <div class="col-1" *ngIf="chargPar" style="margin-top: 3%;">
                        <div class="spinner-container">
                            <div class="spinner"></div>
                            &nbsp;<span style="color: rgb(1, 46, 91); font-style: italic;">{{
                                'Chargement'|translate }}</span>
                        </div>
                    </div> -->
                    <div class="col-4">
                        <label>{{ 'titPar' | translate }}<span
                                class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span> </label>
                        <p-dropdown [disabled]="action=='view'" [(ngModel)]="notation.parcourAccademiqueID"
                            [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vsps' | translate }}"
                            [showClear]="true" [options]="parcoursAcademiques" optionLabel="nomparc" optionValue="id"
                            [filter]="true" filterBy="nomparc" [showClear]="true"
                            (onChange)="regroupementListByParcourList(notation.parcourAccademiqueID)">
                            <ng-template let-act pTemplate="item">
                                <div pTooltip="{{ act.nomparc }}" tooltipPosition="top"
                                    (click)="regroupementListByParcourList(act.id)">
                                    <i class="fa fa-database"></i>&nbsp; ({{act.codeparc}})
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <!-- <div class="col-1" *ngIf="chargReg" style="margin-top: 3%;">
                        <div class="spinner-container">
                            <div class="spinner"></div>
                            &nbsp;<span style="color: rgb(1, 46, 91); font-style: italic;">{{
                                'Chargement'|translate }}</span>
                        </div>
                    </div> -->
                    <div class="col-4">
                        <label>{{ "Regroupement" | translate }}<span
                                class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span> </label>
                        <p-dropdown [disabled]="action=='view'" [(ngModel)]="notation.regroupementID"
                            [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vsur' | translate }}"
                            [showClear]="true" [options]="regroupements" optionLabel="nomreg" optionValue="id"
                            [filter]="true" filterBy="codereg, nomreg" [showClear]="true" (onChange)="rechercher()">
                            <ng-template let-act pTemplate="item">
                                <div class="activite-item" (click)="rechercher();">
                                    <i class="fa fa-object-ungroup" aria-hidden="true"></i>
                                    <span> {{ act.nomreg }} </span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="spinner-container" *ngIf="chargUe">
                    <div class="spinner"></div>
                    &nbsp;<span style="color: rgb(1, 46, 91); font-style: italic;">{{
                        'Chargement'|translate }}</span>
                </div>
                <div class="row mb-2" *ngIf="uniteEnseignements.length">
                    <p-table #dt [value]="uniteEnseignements" [rows]="50" [rowsPerPageOptions]="[10,25,50,100,125]"
                        [paginator]="true" styleClass="p-datatable-sm p-datatable-gridlines"
                        [globalFilterFields]="['libelle', ]" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
                        [scrollable]="true" scrollHeight="30vw"
                        currentPageReportTemplate="Affichage de {first} à {last}  sur {totalRecords} entrées"
                        [showCurrentPageReport]="true">
                        <ng-template pTemplate="header">
                            <tr class="texte">
                                <th style="width:3%"></th>
                                <th style="width:12%"> {{ 'Code' | translate}} </th>
                                <th style="width:60%"> {{ 'Nom' | translate}} </th>
                                <th style="width:10%"> {{ 'Ressources' | translate}} </th>
                                <th style="width:15%" class="text-center"><i class="fa fa-cog"></i></th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-obj let-i="rowIndex">
                            <tr [pSelectableRow]="obj" class="petit">
                                <td class="text-center text-primary font-weight-bold">{{i+1}}</td>
                                <td class="text-center" style="font-weight: 500; color: rgb(1, 46, 91);">{{obj.codeu}}
                                </td>
                                <td class="libelle">{{obj.nomue}}</td>
                                <td class="text-center" style="font-weight: 500; color: rgb(1, 46, 91);">
                                    {{obj.ressources}}</td>
                                <td class="text-center">
                                    <button (click)="openDialog(obj)" [style]="{ height: '35px' }" pButton pRipple
                                        type="button" pTooltip="{{'Ressources' | translate}}"
                                        label="{{ 'details' | translate }}" icon="pi pi-eye" iconPos="left"
                                        class="p-button-text p-button-secondary"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between text-center">
                                {{ 'totals' | translate }}{{uniteEnseignements ? uniteEnseignements.length : 0 }}{{ 'ue'
                                | translate }}.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
                <div class="row mb-2" *ngIf="!uniteEnseignements.length">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2>{{'notUe' | translate }} </h2>
                            <p class="font-monospace"> {{'vstpr'| translate}} </p>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p-scrollPanel [style]="{ width: '100%', height: '40vw' }" styleClass="custombar1">
    
</p-scrollPanel> -->

<p-dialog [(visible)]="supportDialog" [modal]="true" [style]="{width: '850px', height: '800px'}" [draggable]="true"
    [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 22px;">{{ 'support' | translate }}</span>
    </ng-template>
    <div class="modal-body">
        <div class="row">
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel header="LES SUPPORTS">
                    <ng-template pTemplate="header">
                        <i class="fa fa-copy item-menu" aria-hidden="true"></i>&nbsp;&nbsp;
                        <span class="text-small">{{ "coursRessource" | translate }}</span>
                    </ng-template>
                    <div class="modal-body">
                        <div class="row" *ngIf="!ressources.length">
                            <div class="grod-spinner-container" *ngIf="chargeRes">
                                <div class="grod-spinner"></div>
                                &nbsp;<span style="color: rgb(1, 46, 91); font-style: italic;">{{
                                    'Chargement'|translate }}</span>
                            </div>
                            <div class="h-100 p-5 bg-light border rounded-3">
                                <h2>{{'notSupport' | translate }} </h2>
                                <p> {{'notiSupport'| translate}} </p>
                            </div>
                        </div>
                        <div class="row" *ngIf="ressources.length">
                            <p-table #dt [value]="ressources" styleClass="p-datatable-sm p-datatable-gridlines"
                                [globalFilterFields]="['nomue', 'codeu' ]" [rowHover]="true" [scrollable]="true"
                                scrollHeight="30vw">
                                <ng-template pTemplate="header">
                                    <tr class="texte">
                                        <th style="width:3%" class="libelle">#</th>
                                        <th style="width:20%"> {{ 'Type' | translate}} </th>
                                        <th style="width:42%"> {{ 'Description' | translate}} </th>
                                        <th style="width:17%"> {{ 'Délai' | translate}} </th>
                                        <th style="width:18%" class="text-center"><i class="fa fa-cog"></i></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-obj let-i="rowIndex">
                                    <tr>
                                        <td class="text-center text-primary font-weight-bold">{{i+1}}</td>
                                        <td style="font-weight: 500; color: rgb(1, 46, 91);">
                                            {{getTypeRes(obj.typeressouce)}}</td>
                                        <td class="libelle">{{obj.description}}</td>
                                        <td>
                                            <span *ngIf="!obj.delai" class="libelleAb">{{ 'notDelai'|translate
                                                }}</span>
                                            <span class="libelleAb" *ngIf="obj.delai">{{obj.delai |
                                                date:'longDate'}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="!obj.nomfichier" class="libelleAb">{{
                                                'notPiece'|translate }}</span>&nbsp;&nbsp;
                                            <i *ngIf="obj.nomfichier" pTooltip="{{'downloadAttachment'|translate}}"
                                                tooltipPosition="top" class="fa fa-download er"
                                                (click)="onDownload(obj.nomfichier)"
                                                style="font-size: 30px; color: rgb(1, 46, 91);"></i>&nbsp;&nbsp;
                                            <i *ngIf="obj.nomfichier" pTooltip="{{'Supprimer'|translate}}"
                                                tooltipPosition="top" class="fas fa-trash er" (click)="delete(obj)"
                                                style="font-size: 30px; color: rgb(234, 66, 28);"></i>&nbsp;&nbsp;
                                            <i pTooltip="{{'audihomeworks'|translate}}" tooltipPosition="top"
                                                class="fas fa-laptop-house er" (click)="delete(obj)"
                                                style="font-size: 30px; color: rgb(234, 66, 28);"></i>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="NOUVEAU">
                    <ng-template pTemplate="header">
                        <i class="fa fa-plus-circle item-menu" aria-hidden="true"></i>&nbsp;&nbsp;
                        <span class="text-small">{{ "newRessource" | translate }}</span>
                    </ng-template>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <label for="budget" class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "typeressource"
                                | translate }}<span class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                                <p-dropdown [(ngModel)]="ressource.typeressources"
                                    [style]="{ width: '100%', height: '35px' }" [showClear]="true" optionValue="id"
                                    [options]="typeRessources" optionLabel="libelle" placeholder=" "></p-dropdown>
                            </div>
                        </div>
                        <div class="row mb-2" *ngIf="ressource.typeressources!=3">
                            <label for="budget" class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "piecejointe"
                                | translate }}<span class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                                <input type="file" name="file" id="file" (change)="onFileSelected($event)"
                                    accept="image/*,.xlsx,.xls,.doc, .docx,.ppt,.pptx,.txt,application/pdf"
                                    [readonly]="action=='view'" class="form-control" [(ngModel)]="file">
                            </div>
                        </div>
                        <div class="row mb-2" *ngIf="ressource.typeressources==3">
                            <label for="budget" class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "Lien"
                                | translate }}<span class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                                <input type="text" [(ngModel)]="ressource.lien" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-2" *ngIf="ressource.typeressources==1">
                            <label for="budget" class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "Délai"
                                | translate }}<span class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span></label>
                            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                                <input type="date" name="" class="form-control" [(ngModel)]="ressource.delai" id="">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="budget" class="col-sm-12 col-md-12 col-lg-3 col-xl-3" style="margin-top: 2%;">{{
                                "Description"
                                | translate }}</label>
                            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                                <textarea [(ngModel)]="ressource.description" class="form-control" type="text"
                                    rows="2"></textarea>
                            </div>
                        </div>
                        <p-table #dt [value]="cours" [rows]="50" [rowsPerPageOptions]="[50,100,120]" [paginator]="true"
                            styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['libelle', ]"
                            responsiveLayout="scroll" [rowHover]="true" dataKey="idcp" [scrollable]="true"
                            scrollHeight="30vw"
                            currentPageReportTemplate="Affichage de {first} à {last}  sur {totalRecords} entrées"
                            [showCurrentPageReport]="true">
                            <ng-template pTemplate="header">
                                <tr class="texte">
                                    <th pTooltip="{{'Pour tout le cour' | translate}}" style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th style="width:70%">
                                        <label for="">{{'forall' | translate}}</label>
                                    </th>
                                    <th style="width:27%">
                                        <label for="">{{'jourseance' | translate}}</label>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-se let-i="rowIndex">
                                <tr [ngClass]="{'reporte': se.reporte,'annule': se.annule}" [pSelectableRow]="se">
                                    <td> <p-tableCheckbox [disabled]="se.annule" [value]="se"></p-tableCheckbox>
                                    </td>
                                    <td class="libelle">
                                        <p *ngIf="!se.reporte">
                                            <span class="fw-bold"> {{se.datejour | date : 'EEEE MMMM d y' }}
                                            </span>&nbsp;
                                            <i class="fa-solid fa-clock"></i>
                                            {{se.heuredeb + '-' + se.heurefin}}
                                        </p>
                                        <p *ngIf="se.reporte">
                                            <span class="fw-bold"> {{se.libelleFr}} </span>&nbsp;&nbsp;
                                            <span *ngIf="se.annule" class="rouge"> {{'Annulé'| translate}}
                                            </span>&nbsp;
                                        </p>
                                    </td>
                                    <td>{{se.datejour| date:'longDate'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button (click)="supportDialog=false;" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Fermer' | translate }}" icon="pi pi-times" iconPos="left"
                class="p-button-secondary"></button>
            &nbsp;&nbsp;
            <button (click)="save(ressource)" [disabled]="!getRequired(ressource.typeressources)" style="float: right;"
                pButton pRipple type="button" [style]="{ height: '35px' }" label="{{ 'enregistrer' | translate }}"
                icon="pi pi-save" iconPos="left" class="p-button-success"></button>
        </div>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="messageDialog" [modal]="true" [style]="{width: '450px'}" [draggable]="true" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 22px;">{{ title | translate }}</span>
        <!--  <span style="font-size: 14px; font-weight: 600; font-style: italic;">{{ libelleDel }}</span> -->
    </ng-template>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <img [src]="srca" style="height: 50px; width:50px;" class="img-responsive mon-icon" />&nbsp;
                <h5 class="text-center">{{ message | translate }}</h5>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button class="btn btn-danger btn-sm mx-2" (click)="messageDialog=false;"> <i class="fa fa-times-circle"
                    aria-hidden="true"></i>&nbsp;&nbsp;{{ "Fermer" | translate }} </button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" [modal]="true" [style]="{width: '450px'}" [draggable]="true" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 22px;">{{ 'Attention !' | translate }}</span>
        <span style="font-size: 14px; font-weight: 600; font-style: italic;">{{ libelleDel }}</span>
    </ng-template>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/img/attention.png" style="height: 50px; width:50px;"
                    class="img-responsive mon-icon" />&nbsp;
                <h5 class="text-center">{{ "questionDelete" | translate }}</h5>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button (click)="deleteDialog=false;" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Non' | translate }}" icon="pi pi-times" iconPos="left" class="p-button-secondary"></button>
            &nbsp;&nbsp;

            <button (click)="supprimer()" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Oui' | translate }}" icon="pi pi-trash" iconPos="left" class="p-button-danger"></button>
        </div>
    </ng-template>
</p-dialog>


<!-- SPINNER DE CHARGEMENT DU TREETABLE -->
<div class="progress-spinner" *ngIf="displaySpinner" style="z-index: 9999">
    <div class="d-flex justify-content-center"> <p-progressSpinner styleClass="custom-spinner" strokeWidth="4"
            animationDuration=".5s"></p-progressSpinner> </div>
    <div class="d-flex justify-content-center affiche">
        <h6 style="color: rgb(255, 255, 255); z-index: 999"> {{ "Chargement" | translate }} </h6>
    </div>
</div>