<div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
       <i class="fa fa-pagelines item-page" aria-hidden="true"></i> 
        &nbsp;&nbsp; <span class="titrePage">Reférences oaci</span>
      </ng-template>
  
      <ng-template pTemplate="right">
        <p-button class="btn-add" (click)="openNew()">
          <!-- <mat-icon>add</mat-icon> -->{{'Nouveau'| translate}}</p-button
        >&nbsp;&nbsp;
        &nbsp;&nbsp;

      
        <p-button 
        styleClass="p-button-danger"
          (click)="deleteSelecteddomaine()"
          [disabled]="!selectedReference || !selectedReference.length"
        >
          <!-- <mat-icon>delete</mat-icon> -->Supprimer</p-button
        >&nbsp;&nbsp;
      </ng-template>
    </p-toolbar>

    <p-table
    #dt
    [value]="references"
    [rows]="10"
    [paginator]="true"
    styleClass="p-datatable-sm"
    [globalFilterFields]="[
    'referenceoaciID',
    'code'
      
    ]"
    [(selection)]="selectedReference"
    [rowHover]="true"
    dataKey="referenceoaciID"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div>
        <i class="pi pi-search"></i>&nbsp;&nbsp;
        <input
          pInputText
          type="text"
          style="width: 50%"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Rechercher..."
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem; text-align: center">N°</th>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="code" style="width: auto">
          Codes<p-sortIcon field="code"></p-sortIcon>
        </th>
       
     
        <th style="width: auto"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reference let-i="rowIndex">
      <tr>
        <td style="text-align: center" class="text-primary">{{ i + 1 }}</td>
        <td>
          <p-tableCheckbox [value]="reference"></p-tableCheckbox>
        </td>
     
        <td>{{ reference.code }}</td>
     
      
  
        <td>
          <i
            class="pi pi-pencil text-success action-btn"
            (click)="editPep(reference)"
            pTooltip="Modifier"
            tooltipPosition="top"
          ></i
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i
            class="pi pi-trash text-danger action-btn"
            pTooltip="Supprimer"
            tooltipPosition="top"
            (click)="delete(reference)"
          ></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between text-center">
        Il ya au total {{ references ? references.length : 0 }} domaines.
      </div>
    </ng-template>
  </p-table>
  </div>

  <!-- Dialog de saisie domaine -->
  <p-dialog
  [(visible)]="referenceDialog"
  header="Edition des reférences"
  [modal]="true"
  [style]="{ width: '1500px' }"
  [draggable]="false"
  [resizable]="false"
  >
  <div class="modal-body">
    <div class="row">
      <div class="col-md-2">
        <label for="code">Code</label>
      </div>
      <div class="col-md-4">
        <input
          pInputText 
          class="form-control"
          type="text"
          name="code"
          id="code"
          [(ngModel)]="reference.code"
        />
      </div>
     
  </div> 
  </div> 
     
  
  <ng-template pTemplate="footer">
    <p-button  styleClass="p-button-outlined" (click)="hideDialog()">
      <!-- <mat-icon>cancel</mat-icon> -->&nbsp;Annuler</p-button
    >&nbsp;&nbsp;
    <p-button  styleClass="p-button-raised p-button-success" (click)="savePermis()" *ngIf="reference.code">
     <!--  <mat-icon>save</mat-icon> -->&nbsp;Enregistrer
    </p-button>
  </ng-template>
  </p-dialog>
  
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>