<header>

    <nav id="sidebarMenu" class="sidebar-wrapper collapse d-lg-block  sidebar collapse bg-light">


        <div class="position-sticky mb-5">

        <div class="position-sticky mb-5">
        
            <div class="list-group list-group-flush mx-3 mb-5">
        
                <a routerLink="notation" class="list-group-item list-group-item-action py-2 ripple "
                    (click)="toggleStatus('notation')" [ngClass]="status=='notation' ? 'active' : ' '">
                    <i class="fas fa-indent fa-fw me-3 " [ngClass]="status=='notation' ? ' ' : 'text-primary'"></i>
                    <span>{{ 'notation' | translate }}</span>
                </a>
        
                <a routerLink="ec" class="list-group-item list-group-item-action py-2 ripple " (click)="toggleStatus('ec')"
                    [ngClass]="status=='ec' ? 'active' : ' '">
                    <i class="fas fa-circle fa-fw me-3 " [ngClass]="status=='ec' ? ' ' : 'text-primary'"></i>
                    <span>{{ 'Element crutial' | translate }}</span>
                </a>
        
                <a routerLink="domaine" class="list-group-item list-group-item-action py-2 ripple "
                    (click)="toggleStatus('domaine')" [ngClass]="status=='domaine' ? 'active' : ' '">
                    <i class="fas fa-reorder fa-fw me-3 " [ngClass]="status=='domaine' ? ' ' : 'text-primary'"></i>
                    <span>{{ 'Domaine' | translate }}</span>
                </a>
        
                <a routerLink="pq" class="list-group-item list-group-item-action py-2 ripple " (click)="toggleStatus('pq')"
                    [ngClass]="status=='pq' ? 'active' : ' '">
                    <i class="fas fa-question fa-fw me-3 " [ngClass]="status=='pq' ? ' ' : 'text-primary'"></i>
                    <span>{{ 'Question Protocole' | translate }}</span>
                </a>
        
                <a routerLink="just" class="list-group-item list-group-item-action py-2 ripple "
                    (click)="toggleStatus('just')" [ngClass]="status=='just' ? 'active' : ' '">
                    <i class="fas fa-pencil-square fa-fw me-3 " [ngClass]="status=='just' ? ' ' : 'text-primary'"></i>
                    <span>{{ 'justificatif' | translate }}</span>
                </a>
        
                <a routerLink="eva" class="list-group-item list-group-item-action py-2 ripple "
                    (click)="toggleStatus('eva')" [ngClass]="status=='eva' ? 'active' : ' '">
                    <i class="fas fa-area-chart fa-fw me-3 " [ngClass]="status=='eva' ? ' ' : 'text-primary'"></i>
                    <span>{{ 'evaluation' | translate }}</span>
                </a>
        
            </div>
        
        </div>

        </div>
    </nav>
    <!-- Sidebar -->

</header>
<!--Main Navigation-->

<!-- Main layout-->
<main>

    <div class="content" style="margin-top: 50px;">
        <!-- <button (click)="showSidebar()" class="btn btn-primary">SHOW</button>-->
        <router-outlet></router-outlet>
    </div>
</main>




<p-dialog header="{{ 'Logout' | translate }}" [modal]="true" [(visible)]="display" [style]="{'width':'400px'}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-body">

                    <h6><i class="fas fa-exclamation-triangle fa-fw me-3 text-warning"></i>
                        {{ 'Se deconnecter' | translate }}</h6>
                    <div class="card-footer d-flex justify-content-end">
                        <button class="btn btn-sm btn-primary" (click)="logout()">{{ 'oui' | translate }}</button>
                        <button class="btn btn-sm mx-2 btn-danger" (click)="close()">{{ 'non' | translate }}</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</p-dialog>

<p-dialog header="{{ 'Erreur' | translate }}" [modal]="true" [(visible)]="displayE" [style]="{'width':'400px'}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-body">

                    <h6 class="text-danger"> <i class="fas fa-times fa-fw me-3 text-danger"></i>
                        {{message}} </h6>
                    <!-- {{ 'erreur deconnexion' | translate }} -->
                    <div class="card-footer d-flex justify-content-end">
                        <button class="btn btn-sm btn-primary" (click)="closeError()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>