<div class="container">
  <h2 class="d-flex justify-content-center text-capitalize text-primary">{{ 'domaine' | translate }}</h2>
  <hr style="margin-bottom: 20px;">

  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <i class="fa fa-pagelines item-page" aria-hidden="true"></i>
        &nbsp;&nbsp; <span class="titrePage">Domaine</span>
      </ng-template>

      <ng-template pTemplate="right">
        <p-button class="btn-add" (click)="openNew()">
          <!-- <mat-icon>add</mat-icon> -->Nouveau</p-button>&nbsp;&nbsp;
        &nbsp;&nbsp;


        <p-button styleClass="p-button-danger" (click)="deleteSelecteddomaine()"
          [disabled]="!selectedDomaine || !selectedDomaine.length">
          <!-- <mat-icon>delete</mat-icon> -->Supprimer</p-button>&nbsp;&nbsp;
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="domaines" styleClass="p-datatable-sm" [globalFilterFields]="[ 'sigle', 'libelle', 'numero', ]"
      [(selection)]="selectedDomaine" [rowHover]="true" dataKey="domaineID"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div>
          <i class="pi pi-search"></i>&nbsp;&nbsp;
          <input pInputText type="text" style="width: 50%"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Rechercher..." />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th style="width: 3rem"> <p-tableHeaderCheckbox></p-tableHeaderCheckbox> </th>
          <th pSortableColumn="numero" style="width: auto"> Numéros <p-sortIcon field="numero"></p-sortIcon> </th>
          <th pSortableColumn="sigle" style="width: auto"> Sigles <p-sortIcon field="sigle"></p-sortIcon> </th>
          <th pSortableColumn="libelle" style="width: auto"> Libellés<p-sortIcon field="libelle"></p-sortIcon> </th>

          <!--  <th pSortableColumn="nbrePlantsAttrib" style="width: auto">
          Parents <p-sortIcon field="nbrePlantsAttrib"></p-sortIcon>
        </th> -->
          <th style="width: auto"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-domaine let-i="rowIndex">
        <tr [ngClass]="{'dom': domaine.sigle }">

          <td>
            <p-tableCheckbox [value]="domaine"></p-tableCheckbox>
          </td>
          <td>{{ domaine.numero}}</td>
          <td>{{ domaine.sigle }}</td>
          <td>{{ domaine.libelle }}</td>

          <td>{{ domaine.nbrePlantsAttrib}}</td>

          <td>
            <i class="pi pi-pencil text-success action-btn" (click)="editPep(domaine)" pTooltip="Modifier"
              tooltipPosition="top"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="pi pi-trash text-danger action-btn" pTooltip="Supprimer" tooltipPosition="top"
              (click)="delete(domaine)"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between text-center">
          Il ya au total {{ domaines ? domaines.length : 0 }} domaines.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>



<!-- Dialog de saisie domaine -->
<p-dialog [(visible)]="domaineDialog" header="Edition du domaine" [modal]="true"
  [style]="{width:'60vw', 'height':'60vh'}" [draggable]="false" [resizable]="true">
  <div class="container">

    <div class="row mb-2">
      <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
        {{'Numero' | translate}}</label>
      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <input class="form-control" type="text" name="numero" id="numero" [(ngModel)]="domaine.numero" />
      </div>
    </div>

    <div class="row mb-2">
      <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
        {{'sigle' | translate}}</label>
      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <input class="form-control" type="text" name="sigle" id="sigle" [(ngModel)]="domaine.sigle" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
        {{'domaine' | translate}}</label>
      <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">
        <p-dropdown [(ngModel)]="domaine.domaineParentID" [style]="{width:'100%',height:'35px'}" placeholder="  "
          [showClear]="true" [options]="domaines" optionLabel="libelle" optionValue="domaineID" [filter]="true"
          filterBy="numero,libelle,sigle" [showClear]="true" placeholder="choisir le domaine">

          <ng-template let-act pTemplate="item">
            <div class="activite-item">
              <div>
                {{act.numero}} - {{act.libelle}}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="row mb-2">
      <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
        {{'libelle' | translate}}</label>
      <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">
        <!-- <input pInputText class="form-control" type="text" name="libelle" id="libelle" [(ngModel)]="domaine.libelle" /> -->
        <textarea [(ngModel)]="domaine.libelle" name="libelle" class="form-control" rows="3"></textarea>
        <small class="p-invalid" style="color: red;" *ngIf="!domaine.libelle">
          {{ 'description requise' | translate }}</small>
      </div>
    </div>

  </div>


  <ng-template pTemplate="footer">
    <p-button styleClass="p-button-outlined" (click)="hideDialog()">
      <!-- <mat-icon>cancel</mat-icon> -->&nbsp;Annuler</p-button>&nbsp;&nbsp;
    <p-button styleClass="p-button-raised p-button-success" (click)="savePermis()" *ngIf="domaine.numero">
      <!--  <mat-icon>save</mat-icon> -->&nbsp;Enregistrer
    </p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>