@media (max-width: 1200px) {
    .texte {
        font-size: 12px;
    }

    .row {
        font-size: 12px;
    }
}

// customProgress .ui-progressbar .ui-progressbar-label {
//     color: yellow;
// }

// .customProgress .ui-progressbar .ui-progressbar-value {
//     background: red;
// }


/** progress a l 'interieur du treetable*/
::ng-deep .rouge .p-progressbar-value {
    background: #ef543991;
    color: #fff;
}

::ng-deep .jaune .p-progressbar-value {
    background: #ffff5aa8;
    color: #fff;
}

::ng-deep .bleu .p-progressbar-value {
    background: #2c98e0c0;
    color: #fff;
}

::ng-deep .vert .p-progressbar-value {
    background: #06e274b0;
    color: #fff;
}



::ng-deep .non_realise .p-progressbar-label {
    background: #ff3c00a8;
    color: #fff;
}

::ng-deep .en_cours .p-progressbar-label {
    background: #ffc107;

}

::ng-deep .realise .p-progressbar-label {
    background: rgba(6, 226, 116, 0.514);

}














/**row du treetable */
.pgr-row {
    background-color: #030303e3 !important;
    color: #ffffff !important;
}

:host ::ng-deep .pgr-row .ui-treetable-toggler {
    color: #ffffff !important;
}

.action-row {
    background-color: #6d6e6d23 !important;
}

:host ::ng-deep .action-row .ui-treetable-toggler {
    color: #ffffff !important;
}

.activite-row {
    background-color: #f3f3d757 !important;
}

.tache-row {
    background-color: #80e2c185 !important;
}

:host ::ng-deep .tache-row .ui-treetable-toggler {
    color: #ffffff !important;
}


.rouge-row {
    background-color: #ee0c0c85 !important;
}

:host ::ng-deep .rouge-row .ui-treetable-toggler {
    color: #ffffff !important;
}



.petit {
    font-size: 13px;
}

.niveau {

    color: #041cf4e3;
}


:host ::ng-deep .pq-row .ui-treetable-toggler {
    color: #ffffff !important;
}

.pq-row {
    background-color: #fbff0757 !important;
}


:host ::ng-deep p-treeselect,
p-treeselect-label-container {
    width: 100%;
}