<h2 class="d-flex justify-content-center text-capitalize text-primary">{{ 'Justificatifs des Question de protocole' |
    translate }}</h2>


<div class="container-fluid ">
    <hr class="mb-4">

    <div class="row mt-2">

        <div class="row mt-1">
            <p-toolbar>
                <!-- <ng-template pTemplate="left">
                    <button type="button" pButton pRipple icon="pi pi-plus" (click)="openDialog()" label="{{'Ajouter'| translate }}"
                        class="p-button-primary" pTooltip="{{'Ajouter'| translate }}" tooltipPosition="bottom"></button>
                </ng-template> -->
                <ng-template pTemplate="right">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText size="50" placeholder="{{ 'Rechercher' | translate }}"
                            (input)="cr.filterGlobal($any($event.target).value, 'contains')">
                    </span>
                </ng-template>
            </p-toolbar>
            <p-table #cr [value]="questions" [globalFilterFields]="['titre','numero']"
                styleClass="p-datatable-sm p-datatable-gridlines " sortField="numero" dataKey="questionProtocoleID">
                <ng-template pTemplate="header">
                    <tr class="petit">
                        <th pSortableColumn="numero">{{ 'PQ N' | translate }} <p-sortIcon field="numero">
                            </p-sortIcon> </th>
                        <th pSortableColumn="titre"> {{ 'titre' | translate }} <p-sortIcon field="titre">
                            </p-sortIcon> </th>
                        <th pSortableColumn="referenceoaciID" class="tres-petit">{{ 'REF OACI' | translate }} </th>
                        <th pSortableColumn="elementCrutialCode" class="tres-petit">{{ 'EC' | translate }} </th>
                        <th colspan="2"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item let-i="rowIndex" let-rowspan="rowspan">
                    <tr class="petit">


                        <td class="fw-bold" colspan="1"> {{item.numero}} </td>
                        <td> {{item.titre}} </td>
                        <td class="tres-petit"> {{item.referenceoaciID}} </td>
                        <td class="tres-petit"> {{item.elementCrutialCode}} </td>

                        <td colspan="2">
                            <span>
                                <i class="pi pi-eye text-success action-btn" (click)="showReponse(item)"
                                    pTooltip="Justificatifs"
                                    tooltipPosition="top">Reponses</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-item>
                    <tr>
                        <td [attr.colspan]="4">
                            {{ 'Aucun Enregistrement trouvé' | translate }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
        <!-- <div class="row mt-1">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <button type="button" pButton pRipple icon="pi pi-plus" (click)="openDialog()"
                        label="{{'Ajouter'| translate }}" class="p-button-primary" pTooltip="{{'Ajouter'| translate }}"
                        tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <p-treeTable #tt [value]="arbre" [columns]="col" styleClass="p-treetable-sm" [resizableColumns]="true"
                selectionMode="single" [rows]="20" [totalRecords]="1000" [scrollable]="true" scrollHeight="65vh"
                [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
                (onNodeExpand)="onNodeExpand($event)">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" ttResizableColumn
                            [attr.colspan]="col.header=='Designation'? 4 : 1">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode" class="petit"
                        [ngClass]="{'pq-row': rowData.questionProtocoleID && rowData.questionProtocoleID!=selectID}">

                        <td pTooltip="{{rowData.domaineID}}" tooltipPosition="left" class="niveau">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <span> {{rowData.numero}} </span>
                        </td>
                        <td>{{rowData.sigle}}</td>

                        <td colspan="4" pTooltip="{{rowData.libelle}}" tooltipPosition="bottom">

                            {{ defineLibelle(rowData)}}

                        </td>
                        <td>
                            {{rowData.dateNotation | date: 'dd-MM-yyyy'}}
                        </td>
                        <td>
                            <span *ngIf="rowData.questionProtocoleID">
                                <i class="pi pi-eye text-success action-btn" (click)="showReponse(rowData)"
                                    pTooltip="Justificatifs"
                                    tooltipPosition="top"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>

                        </td>

         

                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            Aucun Enregistrement trouvé
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div> -->


    </div>
</div>

<!-- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -->
<!-- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -->


<p-dialog [modal]="true" [(visible)]="displayDialog" [style]="{'width':'65%','height':'95vh'}">

    <div class="container-fluid">

        <div class="row">

            <div class="row mb-2">
                <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    <label for="inputtext">{{ 'description' | translate }}</label>
                </div>
                <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">
                    <!-- <p-editor [(ngModel)]="question.description" [style]="{ height: '50vh' }"></p-editor> -->
                    <textarea [(ngModel)]="question.description" name="description" class="form-control" rows="8"
                        disabled></textarea>
                </div>
            </div>


            <hr class="mb-3">
            <div class="row mb-2">
                <p-toolbar>
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="{{'Ajouter'| translate }}" icon="pi pi-plus"
                            class="p-button-primary p-button-sm me-2" (click)="openAdd()"></button>
                    </ng-template>
                </p-toolbar>
                <p-table #det [value]="justificatifs" [globalFilterFields]="['titre']"
                    styleClass="p-datatable-sm p-datatable-gridlines" sortField="titre" sortMode="single">
                    <ng-template pTemplate="header">
                        <tr class="petit">
                            <th> N </th>
                            <th colspan="5" pSortableColumn="titre">{{ 'titre' | translate }}
                                <p-sortIcon field="titre">
                                </p-sortIcon>
                            </th>
                            <th colspan="2" pSortableColumn="nbfichier">{{ 'nbfichier' | translate }}
                                <p-sortIcon field="nbfichier">
                                </p-sortIcon>
                            </th>

                            <th></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-item let-i="rowIndex">
                        <tr>
                            <td> {{i +1}} </td>
                            <td class="detail-row" colspan="5"> {{item.titre}} </td>
                            <td class="detail-row" colspan="2"> {{item.nbfichier}} </td>
                            <td colspan="2">
                                <div class="d-flex justify-content-end">
                                    <i class="pi pi-pencil btn btn-sm btn-secondary mx-2" (click)="openAdd(item,i)"
                                        pTooltip="{{ 'Modifier' | translate }}" tooltipPosition="bottom"></i>
                                    <i class="pi pi-trash btn btn-sm btn-danger" (click)="justificatifDelete(item.id)"
                                        pTooltip="{{ 'Supprimer' | translate }}" tooltipPosition="bottom"></i>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-item>
                        <tr>
                            <td [attr.colspan]="5">
                                {{ 'Aucun Enregistrement trouvé' | translate }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>

        <!-- --------- --  -->

    </div>

    <ng-template pTemplate="header">
        <div class="d-flex justify-content-start">
            <h4>{{'Reponses' | translate }}</h4>
            <!-- <button class="btn btn-secondary btn-sm mx-2" (click)="contratReport(contrat)"> {{ 'Imprimer' | translate }}
            </button>
            <button class="btn btn-light btn-sm mx-2" (click)="sendReport(contrat)"> {{ 'send' | translate }}
            </button> -->
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary btn-sm" (click)="closeDialog()"> {{ 'Fermer' | translate}} </button>
        </div>
    </ng-template>
</p-dialog>

<!--------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  -->
<!--------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  -->

<p-dialog header="Justificatif" [modal]="true" [(visible)]="displayadd" [style]="{'width':'60%','height':'90vh'}">

    <div class="container">


        <div class="row mb-2">
            <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                {{'titre' | translate}}</label>
            <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">
                <input [(ngModel)]="justificatif.titre" type="text" name="ref" class="form-control" />
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <label for="inputtext">{{ 'reponse' | translate }}</label>
            </div>
            <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">
                <!-- <p-editor [(ngModel)]="question.description" [style]="{ height: '50vh' }"></p-editor> -->
                <textarea [(ngModel)]="justificatif.description" name="reponse" class="form-control"
                    rows="8"></textarea>
            </div>
        </div>
        <!-- url="https://www.primefaces.org/cdn/api/upload.php" -->
        <!-- <div class="row mb-2">
            <div class="card flex justify-content-center">
                <p-fileUpload name="demo[]" [files]="fichiers"
                    (onUpload)="onUpload($event)" (onSelect)="onUpload($event)"
                     [multiple]="true" [maxFileSize]="500000000" [customUpload]="true"
                    accept="image/*,.xlsx,.xls,.doc, .docx,.ppt,.pptx,.txt,application/pdf">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
        </div> -->

        <div class="row mb-2">

            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            {{'liste de fichiers'| translate}}
                        </div>
                        <div class="col-3">
                            <p-fileUpload [files]="fichiers" [maxFileSize]="500000000" [customUpload]="true"
                                mode="basic" name="myfile[]" (onSelect)="onUpload($event)" [multiple]="true"
                                type="application/pdf"
                                accept="image/*,.xlsx,.xls,.doc, .docx,.ppt,.pptx,.txt,application/pdf">
                            </p-fileUpload>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="progress my-3" *ngIf="currentFile">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                                [ngStyle]="{ width: progress + '%' }">
                                {{ progress }}%
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">

                    <ul class="list-group list-group-flush" *ngFor="let file of files ; let i=index;">
                        <li class="list-group-item d-inline-flex">

                            <!-- <input pInputText class="form-control form-control-sm" type="text" name="input{{i}}"
                                [(ngModel)]="file.name" (ngModelChange)="isModified=true" placeholder="Name is required"
                                [style]="{width:'250px',height:'35px'}"
                                [ngClass]="file.name ? ' is-valid' : 'is-invalid'" /> -->


                            <a *ngIf="file.oldname" type="button" class="petit" href="{{ file.url }}"> {{ file.oldname
                                }} - {{ file.size }} </a>

                            <i class="pi pi-download btn btn-sm btn-info mx-2" pTooltip="{{ 'afficher' | translate }}"
                                aria-label="telecharger" tooltipPosition="bottom" (click)="telecharger(file.id)"></i>

                            <i class="pi pi-times btn btn-danger btn-sm mx-2"
                                pTooltip="{{'Supprimer' | translate }}"></i>
                            <!-- 
                            <button pButton pRipple type="button" icon="pi pi-check"
                                class="p-button-rounded p-button-text p-button-success mr-2"></button> -->


                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- --------- --  -->
    </div>

    <ng-template pTemplate="footer">
        <div class="d-flex justify-content-end">
            <button class="btn btn-success btn-sm mx-2" (click)="justificatifInsert()"> {{ 'enregistrer' | translate}}
            </button>
            <button class="btn btn-secondary btn-sm" (click)="closeAdd()"> {{ 'Fermer' | translate}} </button>
        </div>
    </ng-template>
</p-dialog>
<!--------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  -->




<!-- dialog succès -->
<p-dialog header="{{ 'Succes' | translate }}" [modal]="true" [(visible)]="displaySucces" [style]="{'width':'30%'}">
    <div class="container">
        <div class="row">
            <div class="card-body">
                <h6 class="text-success">
                    {{successMessage | translate}}
                </h6>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-sm btn-primary" (click)="closeSucces()">OK</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<!-- dialog erreur -->
<p-dialog header="{{ 'Erreur' | translate }}" [modal]="true" [(visible)]="displayError" [style]="{'width':'30%'}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <h6 class="text-danger">
                        {{errorMessage| translate}}
                    </h6>
                    <div class="card-footer d-flex justify-content-end">
                        <button class="btn btn-sm btn-primary" (click)="closeError()">OK</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</p-dialog>


<!-- SPINNER DE CHARGEMENT DU TREETABLE -->
<div class="progress-spinner" *ngIf="displaySpinner" modal="true" style="z-index: 9999;">
    <div class="d-flex justify-content-center">
        <p-progressSpinner styleClass="custom-spinner" strokeWidth="4" animationDuration="2.5s"></p-progressSpinner>
    </div>
    <div class="d-flex justify-content-center affiche">
        <h6 style="color: rgb(255, 255, 255);z-index: 999;">Generation du fichier...</h6>
    </div>
</div>

<p-confirmDialog header="Confirmation"></p-confirmDialog>