<h2 class="d-flex justify-content-center text-capitalize text-primary">{{ 'Question de protocole' | translate }}</h2>

<div class="container-fluid ">
    <hr class="mb-4">
    <p-tabView>

        <!-- -------------------------------- ------------ MISSIONS ---------------------------------- ---------------------------------- -->
        <p-tabPanel header="{{'Toutes les PQ'| translate }}">
            <div class="row mt-1">
                <p-toolbar>
                    <ng-template pTemplate="left">
                        <button type="button" pButton pRipple icon="pi pi-plus" (click)="openDialog()"
                            label="{{'Ajouter'| translate }}" class="p-button-primary"
                            pTooltip="{{'Ajouter'| translate }}" tooltipPosition="bottom"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText size="50" placeholder="{{ 'Rechercher' | translate }}"
                                (input)="cr.filterGlobal($any($event.target).value, 'contains')">
                        </span>
                    </ng-template>
                </p-toolbar>
                <p-table #cr [value]="questionsAll" [globalFilterFields]="['titre','numero']"
                    styleClass="p-datatable-sm p-datatable-gridlines " sortField="numero" dataKey="questionProtocoleID">
                    <ng-template pTemplate="header">
                        <tr class="petit">
                            <th pSortableColumn="numero">{{ 'PQ N' | translate }} <p-sortIcon field="numero">
                                </p-sortIcon> </th>
                            <th pSortableColumn="titre"> {{ 'titre' | translate }} <p-sortIcon field="titre">
                                </p-sortIcon> </th>
                            <th pSortableColumn="referenceoaciID" class="tres-petit">{{ 'REF OACI' | translate }} </th>
                            <th pSortableColumn="elementCrutialCode" class="tres-petit">{{ 'EC' | translate }} </th>
                            <th colspan="2"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-item let-i="rowIndex" let-rowspan="rowspan">
                        <tr class="petit">


                            <td class="fw-bold" colspan="1"> {{item.numero}} </td>
                            <td> {{item.titre}} </td>
                            <td class="tres-petit"> {{item.referenceoaciID}} </td>
                            <td class="tres-petit"> {{item.elementCrutialCode}} </td>

                            <td colspan="2">
                                <span>
                                    <i class="pi pi-pencil text-success action-btn" (click)="pqEdit(item)"
                                        pTooltip="Modifier"
                                        tooltipPosition="top"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="pi pi-trash text-danger action-btn" pTooltip="Supprimer"
                                        tooltipPosition="top" (click)="pqDelete(item)"></i>
                                </span>

                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-item>
                        <tr>
                            <td [attr.colspan]="4">
                                {{ 'Aucun Enregistrement trouvé' | translate }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </p-tabPanel>
        <!-- -------------------------------- ------------------ OBJECTIFS---------------------------------- ---------------------------------- -->
        <p-tabPanel header="{{'Par domaines'| translate }}">
            <div class="row mt-1">
                <p-toolbar>
                    <ng-template pTemplate="left">
                        <button type="button" pButton pRipple icon="pi pi-plus" (click)="openDialog()"
                            label="{{'Ajouter'| translate }}" class="p-button-primary"
                            pTooltip="{{'Ajouter'| translate }}" tooltipPosition="bottom"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText size="50" placeholder="{{ 'Rechercher' | translate }}"
                                (input)="tt.filterGlobal($any($event.target).value, 'contains')">
                        </span>
                    </ng-template>
                </p-toolbar>

                <p-treeTable #tt [value]="arbre" [columns]="col" styleClass="p-treetable-sm" [resizableColumns]="true"
                    selectionMode="single" [rows]="20" [totalRecords]="1000" [scrollable]="true" scrollHeight="65vh"
                    [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)"
                    (onNodeUnselect)="nodeUnselect($event)" (onNodeExpand)="onNodeExpand($event)">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" ttResizableColumn
                                [attr.colspan]="col.header=='Designation'? 4 : 1">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode" class="petit"
                            [ngClass]="{'pq-row': rowData.questionProtocoleID && rowData.questionProtocoleID!=selectID}">

                            <td pTooltip="{{rowData.domaineID}}" tooltipPosition="left" class="niveau">
                                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                <span> {{rowData.numero}} </span>
                            </td>
                            <td>{{rowData.sigle}}</td>

                            <td colspan="4" pTooltip="{{rowData.libelle}}" tooltipPosition="bottom">

                                {{ defineLibelle(rowData)}}

                            </td>

                            <td>
                                {{rowData.dateNotation | date: 'dd-MM-yyyy'}}
                            </td>

                            <td>
                                <span *ngIf="rowData.questionProtocoleID">
                                    <i class="pi pi-pencil text-success action-btn" (click)="pqEdit(rowData)"
                                        pTooltip="Modifier"
                                        tooltipPosition="top"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="pi pi-trash text-danger action-btn" pTooltip="Supprimer"
                                        tooltipPosition="top" (click)="pqDelete(rowData)"></i>
                                </span>

                            </td>

                            <!-- <td colspan="2">
                                                    {{item.date | date: 'dd-MM-yyyy'}} -->
                            <!-- </td> -->

                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns.length">
                                Aucun Enregistrement trouvé
                            </td>
                        </tr>
                    </ng-template>
                </p-treeTable>
            </div>
        </p-tabPanel>
    </p-tabView>

</div>

<!-- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -->

<p-dialog header="Question de protocole" [modal]="true" [(visible)]="displayDialog"
    [style]="{'width':'60%','height':'90vh'}">

    <div class="container">

        <div class="row mb-2">
            <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                {{'Numero PQ' | translate}}</label>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <input [(ngModel)]="question.numero" type="text" name="ref" class="form-control" />
                <!-- <p-dropdown [(ngModel)]="question.referenceoaciID" [style]="{width:'60%',height:'35px'}"
                    optionValue="referenceoaciID" [options]="references" optionLabel="code">
                </p-dropdown> -->
            </div>
        </div>

        <div class="row mb-2">
            <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                {{'REF OACI' | translate}}</label>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <input [(ngModel)]="question.referenceoaciID" type="text" name="ref" class="form-control" />
                <!-- <p-dropdown [(ngModel)]="question.referenceoaciID" [style]="{width:'60%',height:'35px'}"
                    optionValue="referenceoaciID" [options]="references" optionLabel="code">
                </p-dropdown> -->
            </div>
        </div>

        <div class="row mb-2">
            <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                {{'element crutial' | translate}}</label>
            <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">

                <p-dropdown [(ngModel)]="question.elementCrutialID" [style]="{width:'100%',height:'35px'}"
                    placeholder="  " [showClear]="true" [options]="elements" optionLabel="titre"
                    optionValue="elementCrutialID" [filter]="true" filterBy="code,titre" [showClear]="true">

                    <ng-template let-act pTemplate="item">
                        <div class="activite-item">
                            <div>
                                {{act.code}} - {{act.titre}}
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <!--  -->
        <div class="row mb-2">
            <label for="phase" class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                {{'domaine' | translate}}</label>
            <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">


                <!-- 
                <p-treeSelect [style]="{width:'100%'}" [(ngModel)]="selectedNodes" [metaKeySelection]="false"
                    [options]="arbreDomaines" [filter]="true" [filterInputAutoFocus]="true" placeholder="Selectionner ">

                </p-treeSelect> -->

                <p-dropdown [(ngModel)]="question.domaineID" [style]="{width:'100%',height:'35px'}" placeholder="  "
                    [showClear]="true" [options]="domaines" optionLabel="libelle" optionValue="domaineID"
                    [filter]="true" filterBy="numero,libelle,sigle" [showClear]="true">

                    <ng-template let-act pTemplate="item">
                        <div class="activite-item">
                            <div>
                                {{act.numero}} - {{act.libelle}}
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>


                <!-- <p-dropdown placeholder=" " [style]="{width:'90%',height:'35px'}" [(ngModel)]="question.domaineID"
                    [options]="domaines" optionLabel="sigle" optionValue="domaineID">
                </p-dropdown> -->
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <label for="inputtext">{{ 'Titre' | translate }} (Fr)</label>
            </div>
            <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">
                <textarea [(ngModel)]="question.titre" name="smart" class="form-control" rows="3"></textarea>
                <small class="p-invalid" style="color: red;" *ngIf="!question.titre">
                    {{ 'titre requis' | translate }}</small>
            </div>

        </div>




        <div class="row mb-2">
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <label for="inputtext">{{ 'description' | translate }} (Us)</label>
            </div>
            <div class="col-sm-6 col-md-10 col-lg-10 col-xl-10">
                <!-- <p-editor [(ngModel)]="question.description" [style]="{ height: '50vh' }"></p-editor> -->
                <textarea [(ngModel)]="question.description" name="description" class="form-control"
                    rows="10"></textarea>
            </div>
        </div>

        <!-- --------- --  -->


    </div>

    <ng-template pTemplate="footer">
        <div class="d-flex justify-content-end">
            <button class="btn btn-success btn-sm mx-2" (click)="pqInsert()"> {{ 'enregistrer' | translate}} </button>
            <button class="btn btn-secondary btn-sm" (click)="closeDialog()"> {{ 'Fermer' | translate}} </button>
        </div>
    </ng-template>
</p-dialog>
<!-- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -- --------- -->



<!--------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  -->
<!--------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  --------------------  -->




<!-- dialog succès -->
<p-dialog header="{{ 'Succes' | translate }}" [modal]="true" [(visible)]="displaySucces" [style]="{'width':'30%'}">
    <div class="container">
        <div class="row">
            <div class="card-body">
                <h6 class="text-success">
                    {{successMessage | translate}}
                </h6>
                <div class="card-footer d-flex justify-content-end">
                    <button class="btn btn-sm btn-primary" (click)="closeSucces()">OK</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<!-- dialog erreur -->
<p-dialog header="{{ 'Erreur' | translate }}" [modal]="true" [(visible)]="displayError" [style]="{'width':'30%'}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <h6 class="text-danger">
                        {{errorMessage| translate}}
                    </h6>
                    <div class="card-footer d-flex justify-content-end">
                        <button class="btn btn-sm btn-primary" (click)="closeError()">OK</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</p-dialog>



<!-- SPINNER DE CHARGEMENT DU TREETABLE -->
<div class="progress-spinner" *ngIf="displaySpinner" modal="true" style="z-index: 9999;">
    <div class="d-flex justify-content-center">
        <p-progressSpinner styleClass="custom-spinner" strokeWidth="4" animationDuration="2.5s"></p-progressSpinner>
    </div>
    <div class="d-flex justify-content-center affiche">
        <h6 style="color: rgb(255, 255, 255);z-index: 999;">Generation du fichier...</h6>
    </div>
</div>

<p-confirmDialog header="Confirmation"></p-confirmDialog>