<p-toolbar>
    <ng-template pTemplate="left">
        <h4 class="display-6 d-flex justify-content-center text-primary"> {{ 'progexamen' | translate }} </h4>
        <!--  <div class="card info">
            <div class="row">
                <div class="col-1 icoinfo"> <img src="assets/img/attention.png" style="height: 35px; width: 35px;" />
                </div>
                <div class="col-11">
                    <span class="impo">{{ 'impo'|translate }}</span>&nbsp;
                    <span class="imponote">{{ 'imponote'|translate }}&nbsp;</span>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;
        <button [disabled]="!examen.idcp" (click)="showQrCode()" [style]="{ height: '35px' }" pButton pRipple
            type="button" label="{{ 'showQrCode' | translate }}" icon="fas fa-qrcode" iconPos="left"
            class="p-button-secondary"></button> -->
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="spinner-container" *ngIf="displaySpinner">
            <div class="spinner"></div>
            &nbsp;<span style="color: rgb(1, 46, 91); font-style: italic;">{{
                'Chargement'|translate }}</span>
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <div class="col d-flex justify-content-end">
            <button (click)="generatePDF(examens)"
                [disabled]="displaySpinner || !examen.idperiode || !examen.idparcours || !examen.idregroupement"
                [style]="{ height: '35px' }" pButton pRipple type="button" label="{{ 'Imprimer' | translate }}"
                icon="pi pi-print" iconPos="left" class="p-button-secondary"></button>&nbsp;&nbsp;

            <button (click)="create()" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'newProgrammation' | translate }}" icon="pi pi-plus" iconPos="left"
                class="p-button-primary"></button>&nbsp;&nbsp;

            <button [disabled]="displaySpinner" (click)="rechercher()" [style]="{ height: '35px' }" pButton pRipple
                type="button" label="{{ 'Rafraichir' | translate }}" icon="pi pi-refresh" iconPos="left"
                class="p-button-secondary"></button>
        </div>
    </ng-template>
</p-toolbar>
<div class="modal-body mt-1">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card cont bg-light" style="height: 40vw;">
                <div class="row mb-2">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>{{ "periodea" | translate }}<span
                                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span> </label>
                            <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [(ngModel)]="examen.idperiode"
                                [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vspa' | translate }}"
                                [showClear]="true" [options]="periodeAcademiques" optionLabel="nomperio"
                                optionValue="id" [filter]="true" filterBy="nomperio,anneedebut,anneefin"
                                [showClear]="true" (onChange)="parcoursAcademiqueList(examen.idperiode); ">
                                <ng-template let-act pTemplate="item">
                                    <div pTooltip="{{ act.nomperio }}" tooltipPosition="top" style="z-index: 99999;"
                                        (click)="parcoursAcademiqueList(act.id)">
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        <span>{{act.anneedebut}} - {{act.anneefin}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-2">
                        <label>{{ 'titPar' | translate }}<span
                                class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span> </label>
                        <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [(ngModel)]="examen.idparcours"
                            [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vsps' | translate }}"
                            [showClear]="true" [options]="parcoursAcademiques" optionLabel="nomparc" optionValue="id"
                            [filter]="true" filterBy="nomparc" [showClear]="true"
                            (onChange)="uniteEnseignementList(examen.idparcours); regroupementListByParcourList(examen.idparcours)">
                            <ng-template let-act pTemplate="item">
                                <div pTooltip="{{ act.nomparc }}" tooltipPosition="top" style="z-index: 99999;"
                                    (click)="uniteEnseignementList(examen.idparcours); regroupementListByParcourList(act.id)">
                                    <i class="fa fa-database"></i>&nbsp; ({{act.codeparc}})
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="col-2">
                        <label>{{ "Regroupement" | translate }}<span
                                class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
                        </label>
                        <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [(ngModel)]="examen.idregroupement"
                            [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vsur' | translate }}"
                            [showClear]="true" [options]="regroupements" optionLabel="nomreg" optionValue="id"
                            [filter]="true" (onChange)="rechercher();" filterBy="codereg, nomreg" [showClear]="true">
                            <ng-template let-act pTemplate="item">
                                <div class="activite-item" (click)="rechercher();">
                                    <i class="fa fa-object-ungroup" aria-hidden="true"></i>
                                    <span> {{ act.nomreg }} </span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="col-2">
                        <label>{{ "courue" | translate }}<span
                                class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span> </label>
                        <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [(ngModel)]="examen.idue"
                            [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vsue' | translate }}"
                            [showClear]="true" [options]="uniteEnseignements"
                            (onChange)="sessionListByCourid(examen.idue)" optionLabel="nomue" optionValue="id"
                            [filter]="true" filterBy="nomue" [showClear]="true">
                            <ng-template let-act pTemplate="item">
                                <div (click)="sessionListByCourid(examen.idue)" pTooltip="{{ act.nomue }}"
                                    tooltipPosition="top">
                                    <i class="fa fa-sticky-note"></i>&nbsp; ({{act.codeu}})
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="col-2">
                        <label>{{ "sessionexamen" | translate }}<span
                                class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span> </label>
                        <p-dropdown [ngClass]="{'grise-element': displaySpinner}"
                            [style]="{ width: '100%', height: '40px' }" [(ngModel)]="examen.idsession"
                            placeholder="{{ 'vsus' | translate }}" [showClear]="true" [options]="sessionsRat"
                            optionLabel="nom" optionValue="idsession" [filter]="true" filterBy="nom"
                            (onChange)="rechercher();" [showClear]="true">
                            <ng-template let-act pTemplate="item">
                                <div class="activite-item" (click)="rechercher();">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    <span> {{ act.nom }} ( <span class="percen"> {{ act.poids }} </span> &nbsp;%
                                        )</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="col-1"></div>
                </div>
                <p-table #dt [value]="examens" styleClass="p-datatable-sm p-datatable-striped"
                    [globalFilterFields]="['nomue', 'codeu' ]" [rowHover]="true" [scrollable]="true"
                    scrollHeight="30vw">
                    <ng-template pTemplate="header">
                        <tr class="petit">
                            <th style="width:5%" class="text-center">#</th>
                            <th style="width:37%"> {{ 'courue' | translate}} </th>
                            <th style="width:15%"> {{ 'dateprog' | translate}} </th>
                            <th style="width:10%; text-align: center;"> {{ 'hdebut' | translate}} </th>
                            <th style="width:10%; text-align: center;"> {{ 'hfin' | translate}} </th>
                            <th style="width:8%; text-align: center;"> {{ 'Etat' | translate}} </th>
                            <th style="width:15%; text-align: center;"><i class="fa fa-cog"></i></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-obj let-i="rowIndex">
                        <tr [pSelectableRow]="obj" class="petit-detail">
                            <td class="text-center text-primary font-weight-bold">{{i+1}}</td>
                            <td class="lign"> <span>{{obj.nomue}}</span> </td>
                            <td class="ligne">
                                <span *ngIf="obj.etat!=2">{{getDate(obj.dateprog)}}</span>
                                <span *ngIf="obj.etat==2">{{getDate(obj.daterep)}}</span>
                            </td>
                            <td class="text-center" *ngIf="obj.etat!=2"> <span>{{obj.hdebut}}</span> </td>
                            <td class="text-center" *ngIf="obj.etat!=2"> <span>{{obj.hfin}}</span> </td>
                            <td class="text-center" *ngIf="obj.etat==2"> <span>{{obj.hdebutrep}}</span>
                            </td>
                            <td class="text-center" *ngIf="obj.etat==2"> <span>{{obj.hfinrep}}</span> </td>
                            <td class="text-center">
                                <p-tag *ngIf="obj.etat==0" severity="success" value="Programmé"
                                    [rounded]="true"></p-tag>
                                <p-tag *ngIf="obj.etat==1" severity="danger" value="Annulé" [rounded]="true"></p-tag>
                                <p-tag *ngIf="obj.etat==2" severity="warning" value="Reporté" [rounded]="true"></p-tag>
                            </td>
                            <td class="text-right">
                                <i *ngIf="obj.etat==0" pTooltip="{{'Reporter'|translate}}" tooltipPosition="top"
                                    (click)="getProgrammation(obj, 'report')"
                                    class="fas fa-history er"></i>&nbsp;&nbsp;&nbsp;

                                <i pTooltip="{{'Modifier'|translate}}" tooltipPosition="top"
                                    (click)="getProgrammation(obj, 'edit')"
                                    class="fas fa-pencil er edit"></i>&nbsp;&nbsp;&nbsp;


                                <span *ngIf="obj.etat!=1">
                                    <i pTooltip="{{'Annuler'|translate}}" tooltipPosition="top"
                                        (click)="cancelProgrammation(obj)" class="fas fa-ban er"></i>
                                    &nbsp;&nbsp;&nbsp;
                                </span>
                                <span *ngIf="obj.etat!=0">
                                    <i pTooltip="{{'Restaurer'|translate}}" tooltipPosition="top"
                                        (click)="restoreProgrammation(obj)"
                                        class="fas fa-clipboard-check text-success er"></i>
                                    &nbsp;&nbsp;&nbsp;
                                </span>



                                <i pTooltip="{{'Supprimer'|translate}}" tooltipPosition="left"
                                    (click)="deleteProgrammation(obj)" class="fas fa-trash er danger"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>


<p-dialog [(visible)]="updateProgrammation" [modal]="true" [style]="{width: '800px', height: '800px'}"
    [draggable]="true" [resizable]="true">
    <ng-template pTemplate="header">
        <span style="font-size: 22px;">{{action+"Programmation" | translate}}</span>
        <span style="float: right;">
            <p-tag *ngIf="examenTra.etat==0" severity="success" value="Programmé" [rounded]="true"></p-tag>
            <p-tag *ngIf="examenTra.etat==1" severity="danger" value="Annulé" [rounded]="true"></p-tag>
            <p-tag *ngIf="examenTra.etat==2" severity="warning" value="Reporté" [rounded]="true"></p-tag>
        </span>
    </ng-template>
    <div class="modal-body" *ngIf="action!='report'">
        <div class="row mt-1">

            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "periodea" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [(ngModel)]="examenTra.idperiode"
                    [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vspa' | translate }}"
                    [showClear]="true" [options]="periodeAcademiques" optionLabel="nomperio" optionValue="id"
                    [filter]="true" filterBy="nomperio,anneedebut,anneefin" [showClear]="true"
                    (onChange)="parcoursAcademiqueList(examenTra.idperiode); ">
                    <ng-template let-act pTemplate="item">
                        <div pTooltip="{{ act.nomperio }}" tooltipPosition="top" style="z-index: 99999;"
                            (click)="parcoursAcademiqueList(act.id)">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span>{{act.anneedebut}} - {{act.anneefin}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ 'titPar' | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span> </label>
            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [(ngModel)]="examenTra.idparcours"
                    [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vsps' | translate }}"
                    [showClear]="true" [options]="parcoursAcademiques" optionLabel="nomparc" optionValue="id"
                    [filter]="true" filterBy="nomparc" [showClear]="true"
                    (onChange)="uniteEnseignementList(examenTra.idparcours); regroupementListByParcourList(examenTra.idparcours)">
                    <ng-template let-act pTemplate="item">
                        <div pTooltip="{{ act.nomparc }}" tooltipPosition="top" style="z-index: 99999;"
                            (click)="uniteEnseignementList(examenTra.idparcours); regroupementListByParcourList(act.id)">
                            <i class="fa fa-database"></i>&nbsp; ({{act.codeparc}})
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

        </div>
        <div class="row mt-1">
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "Regroupement" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [(ngModel)]="examenTra.idregroupement"
                    [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vsur' | translate }}"
                    [showClear]="true" [options]="regroupements" optionLabel="nomreg" optionValue="id" [filter]="true"
                    (onChange)="rechercher();" filterBy="codereg, nomreg" [showClear]="true">
                    <ng-template let-act pTemplate="item">
                        <div class="activite-item">
                            <i class="fa fa-object-ungroup" aria-hidden="true"></i>
                            <span> {{ act.nomreg }} </span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

        </div>
        <div class="row mt-1">
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "courue" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span> </label>
            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [(ngModel)]="examenTra.idue"
                    [style]="{ width: '100%', height: '40px' }" placeholder="{{ 'vsue' | translate }}"
                    [showClear]="true" [options]="uniteEnseignements" (onChange)="sessionListByCourid(examenTra.idue)"
                    optionLabel="nomue" optionValue="id" [filter]="true" filterBy="nomue" [showClear]="true">
                    <ng-template let-act pTemplate="item">
                        <div (click)="sessionListByCourid(examenTra.idue)" pTooltip="{{ act.nomue }}"
                            tooltipPosition="top">
                            <i class="fa fa-sticky-note"></i>&nbsp; ({{act.codeu}})
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

        </div>
        <div class="row mt-1">
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "sessionexamen" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                <p-dropdown [ngClass]="{'grise-element': displaySpinner}" [style]="{ width: '100%', height: '40px' }"
                    [(ngModel)]="examenTra.idsession" placeholder="{{ 'vsus' | translate }}" [showClear]="true"
                    [options]="sessionsRat" optionLabel="nom" optionValue="idsession" [filter]="true" filterBy="nom"
                    [showClear]="true">
                    <ng-template let-act pTemplate="item">
                        <div class="activite-item">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <span> {{ act.nom }} ( <span class="percen"> {{ act.poids }} </span> &nbsp;%
                                )</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "Date de l'examen" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                <input type="date" [(ngModel)]="examenTra.dateprog" class="form-control" name="" id="">
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "Heure de début" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-3 col-lg-3 col-xl-3">
                <input type="time" [(ngModel)]="examenTra.hdebut" class="form-control" id="hdebut" name="hdebut">
            </div>
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "Heure de fin" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-3 col-lg-3 col-xl-3">
                <input type="time" [(ngModel)]="examenTra.hfin" class="form-control" id="hfin" name="hfin">
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button (click)="updateProgrammation=false;" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Annuler' | translate }}" icon="fas fa-times-circle" iconPos="left"
                class="p-button-secondary"></button>&nbsp;&nbsp;
            <button (click)="save()" *ngIf="action!='view'" [style]="{ height: '35px' }" pButton pRipple type="button"
                iconPos="left" [ngClass]="action=='new' ? 'p-button-success' : 'p-button-primary'">
                <i class="fas fa-save"></i>&nbsp;&nbsp;
                <span *ngIf="action=='new'">{{ 'Enregistrer' | translate }}</span>
                <span *ngIf="action=='edit'">{{ 'Sauvegarder' | translate }}</span>
            </button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="reportProgrammation" [modal]="true" [style]="{width: '800px'}" [draggable]="true"
    [resizable]="true">
    <ng-template pTemplate="header">
        <span style="font-size: 22px;">{{action+"Programmation" | translate}}</span>
    </ng-template>
    <div class="modal-body" *ngIf="action=='report'">
        <div class="row mt-1">
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "dateprog" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
                <input type="date" [(ngModel)]="examenTra.daterep" class="form-control" name="" id="">
            </div>
        </div>
        <div class="row mt-1">
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "hdebut" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-3 col-lg-3 col-xl-3">
                <input type="time" [(ngModel)]="examenTra.hdebutrep" class="form-control" id="hdebut" name="hdebut">
            </div>
            <label class="col-sm-12 col-md-12 col-lg-3 col-xl-3">{{ "hfin" | translate }}<span
                    class="text-danger champ-obligatoire">&nbsp;&nbsp;*</span>
            </label>
            <div class="col-sm-10 col-md-3 col-lg-3 col-xl-3">
                <input type="time" [(ngModel)]="examenTra.hfinrep" class="form-control" id="hfin" name="hfin">
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button (click)="reportProgrammation=false;" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Annuler' | translate }}" icon="fas fa-times-circle" iconPos="left"
                class="p-button-secondary"></button>&nbsp;&nbsp;
            <button (click)="save()" [style]="{ height: '35px' }" pButton pRipple type="button" iconPos="left"
                class="p-button-primary">
                <i class="fas fa-save"></i>&nbsp;&nbsp;
                <span>{{ 'Save' | translate }}</span>
            </button>
        </div>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="messageDialog" [modal]="true" [style]="{width: '450px'}" [draggable]="true" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 22px;">{{ title | translate }}</span>
        <!--  <span style="font-size: 14px; font-weight: 600; font-style: italic;">{{ libelleDel }}</span> -->
    </ng-template>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <img [src]="srca" style="height: 50px; width:50px;" class="img-responsive mon-icon" />&nbsp;
                <h5 class="text-center">{{ message | translate }}</h5>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button (click)="messageDialog=false;" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Fermer' | translate }}" icon="fas fa-times-circle" iconPos="left"
                class="p-button-secondary"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="cancelDialog" [modal]="true" [style]="{width: '450px'}" [draggable]="true" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 22px;">{{ action+'Programmation' | translate }}</span>
        <!--  <span style="font-size: 14px; font-weight: 600; font-style: italic;">{{ libelleDel }}</span> -->
    </ng-template>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <img [src]="srca" style="height: 50px; width:50px;" class="img-responsive mon-icon" />&nbsp;
                <h5 class="text-center">{{ messageCancelProgrammation | translate }}</h5>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button (click)="cancelDialog=false;" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Non' | translate }}" icon="fas fa-times-circle" iconPos="left"
                class="p-button-secondary"></button>&nbsp;&nbsp;
            <button (click)="save()" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Oui' | translate }}" icon="fas fa-ban" iconPos="left" class="p-button-success"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" [modal]="true" [style]="{width: '450px'}" [draggable]="true" [resizable]="false">
    <ng-template pTemplate="header">
        <span style="font-size: 22px;">{{ 'deleteProgrammation' | translate }}</span>
        <!--  <span style="font-size: 14px; font-weight: 600; font-style: italic;">{{ libelleDel }}</span> -->
    </ng-template>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <img [src]="srca" style="height: 50px; width:50px;" class="img-responsive mon-icon" />&nbsp;
                <h5 class="text-center text-danger">{{ 'messageDeleteProgrammation' | translate }}</h5>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="row justify-content-center">
            <button (click)="deleteDialog=false;" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Non' | translate }}" icon="fas fa-times-circle" iconPos="left"
                class="p-button-secondary"></button>&nbsp;&nbsp;
            <button (click)="delete()" [style]="{ height: '35px' }" pButton pRipple type="button"
                label="{{ 'Oui' | translate }}" icon="fas fa-trash" iconPos="left" class="p-button-danger"></button>
        </div>
    </ng-template>
</p-dialog>

<div class="progress-spinner" *ngIf="saveSpinner" style="z-index: 9999">
    <div class="d-flex justify-content-center"> <p-progressSpinner styleClass="custom-spinner" strokeWidth="4"
            animationDuration=".5s"></p-progressSpinner> </div>
    <div class="d-flex justify-content-center affiche">
        <h6 style="color: rgb(255, 255, 255); z-index: 999"> {{ "Chargement" | translate }} </h6>
    </div>
</div>