<div class="container">

<div class="d-flex justify-content-center"><img src="./assets/icao.png" alt="icao"></div>



<div class="d-flex justify-content-center">
    <p class="fw-bold">PROGRAMME UNIVERSEL D’AUDITS DE SURETE DE L’OACI</p>
</div>
<div class="d-flex justify-content-center">
    <p class="fw-bold">MÉTHODE DE SURVEILLANCE CONTINUE</p>
</div>
<div class="d-flex justify-content-center">
    <p class="fw-bold">QUESTIONS DE PROTOCOLE</p>
</div>


<br>
<p>
    Les questions de protocole (PQ) sont le principal outil utilisé dans le cadre du Programme universel d’audits de
    sûreté de l’OACI — Méthode de surveillance
    continue (USAP-CMA) pour évaluer les systèmes de supervision de la sûreté de l’aviation. Élaborées sur la base de
    l’Annexe 17 — Sûreté de l’aviation et de
    l’Annexe 9 — Facilitation à la Convention relative à l’aviation civile internationale (ci-après dénommée la «
    Convention de Chicago »), les PQ sont révisées
    régulièrement par l’OACI pour tenir compte des amendements apportés aux dispositions et documents de référence de
    l’Organisation. L’objet principal des PQ est
    de normaliser la réalisation des audits dans le cadre de l’USAP-CMA. Elles peuvent aussi être utilisées par les
    États pour préparer les audits. Les États sont censés
    utiliser les PQ pour effectuer régulièrement leurs propres contrôles et vérifier ainsi le bon état de leur système
    de supervision de la sûreté de l’aviation de façon
    proactive.
    <br>
    <br>
    Les PQ sont classées par domaine d’audit et chacune est associée à une norme de l’Annexe 17 ou à une norme de
    l’Annexe 9 liée à la sûreté, ainsi qu’à l’un des huit éléments
    cruciaux (EC) du système de supervision de la sûreté de l’aviation d’un État.
    <br>
    <br>
    La colonne intitulée « Réf. OACI » (Référence de l’OACI) renvoie à la norme de l’Annexe 17 ou à la norme de l’Annexe
    9 relative à la sûreté associée à la PQ.
    <br>
    <br>
    La colonne intitulée « EC » identifie l’élément crucial associé à la PQ. La colonne intitulée « Question de
    protocole, Éléments d’orientation pour l’examen/l’observation
    des preuves » contient le texte de la PQ et fournit des exemples de preuves à étudier ou à observer pendant les
    audits de l’USAP-CMA, ce qui permet de préciser l’objet de
    la PQ concernée. Cette liste n’est pas exhaustive et de nouvelles questions peuvent en découler. Les États sont
    néanmoins invités à tirer parti de ces informations comme
    un guide en vue de préparer les documents qui serviront de base aux audits de l’USAP-CMA. Dans le cas où un État
    atteindrait l’objectif de la PQ d’une autre manière, il
    devrait veiller à mettre à disposition les éléments de preuve correspondants. L’évaluation de la PQ peut donner lieu
    à une note « Satisfaisant », « Non satisfaisant »,
    « Sans objet » ou « Non déterminé ».
    <br>
    <br>
    Les entités qui prennent part aux audits de l’USAP-CMA au nom de l’État doivent se familiariser avec les PQ qui
    seront utilisées à cette occasion, afin de préparer à
    l’avance les réponses et les preuves à présenter à l’équipe d’audit de l’OACI. Les États sont encouragés à mettre à
    la disposition des entités chargées du domaine d’audit
    l’ensemble, ou la partie utile, des PQ.
    <br>
    <br>
    <i>
        Note. — Dans le cadre de ces PQ de l’USAP-CMA, les « entités », les « acteurs » ou le « personnel » au niveau
        aéroportuaire s’entendent comme des entités, des acteurs ou
        du personnel qui, conformément au PNSAC, sont impliqués dans la mise en œuvre des mesures de sûreté à
        l’aéroport, ou qui en ont la charge. Il peut s’agir des exploitants
        d’aéroports, des exploitants d’aéronefs, des entreprises de fret, de restauration et de sécurité privées, des
        agents habilités, des expéditeurs connus, des fournisseurs
        habilités ou connus, etc
    </i>
</p>

<br>


<div class="d-flex justify-content-end">
    <p class="fst-italic">Date de publication : 18 novembre 2022</p>
</div>


</div>



