<div class="container">
  <h2 class="d-flex justify-content-center text-capitalize text-primary">{{ 'Elements crutiaux' | translate }}</h2>
  <hr style="margin-bottom: 20px;">

  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <i class="fa fa-pagelines item-page" aria-hidden="true"></i>
        &nbsp;&nbsp; <span class="titrePage">Eléments Crutials</span>
      </ng-template>

      <ng-template pTemplate="right">
        <p-button class="btn-add" (click)="openNew()">
          <!-- <mat-icon>add</mat-icon> -->Nouveau</p-button>&nbsp;&nbsp;
        &nbsp;&nbsp;
      
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="elements" styleClass="p-datatable-sm"
      [globalFilterFields]="[ 'code', 'titre' ]" [rowHover]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div>
          <i class="pi pi-search"></i>&nbsp;&nbsp;
          <input pInputText type="text" style="width: 50%"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Rechercher..." />
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="code" style="width: auto">
            Codes <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="titre" style="width: auto">
            Titres<p-sortIcon field="titre"></p-sortIcon>
          </th>
          <th pSortableColumn="description" style="width: auto">
            Descriptions <p-sortIcon field="description"></p-sortIcon>
          </th>

          <th style="width: auto"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element let-i="rowIndex">
        <tr>


          <td>{{ element.code }}</td>
          <td>{{ element.titre }}</td>
          <td>{{ element.description}}</td>

          <td>
            <i class="pi pi-pencil text-success action-btn" (click)="editPep(element)" pTooltip="Modifier"
              tooltipPosition="top"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="pi pi-trash text-danger action-btn" pTooltip="Supprimer" tooltipPosition="top"
              (click)="delete(element)"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between text-center">
          Il ya au total {{ elements ? elements.length : 0 }} éléments.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Dialog de saisie elements -->
<p-dialog [(visible)]="elementDialog" header="Edition de l'element crutial" [modal]="true" [style]="{ width: '60vw' }"
  [draggable]="false" [resizable]="false">
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-2">
        <label for="code">Code</label>
      </div>
      <div class="col-md-8">
        <input pInputText class="form-control" type="text" name="code" id="code" [(ngModel)]="element.code" />
      </div>
    </div>
    <!--  -->
    <div class="row mb-2">
      <div class="col-md-2">
        <label for="titre">Titre</label>
      </div>
      <div class="col-md-8">
        <input pInputText class="form-control" type="text" name="titre" id="titre" [(ngModel)]="element.titre" />
      </div>
    </div>
    <!--  -->

    <div class="row mb-2">
      <div class="col-md-2">
        <label for="description">Description</label>
      </div>
      <div class="col-md-8">
        <textarea [(ngModel)]="element.description" name="libelle" class="form-control" rows="3"></textarea>
        <small class="p-invalid" style="color: red;" *ngIf="!element.description">
          {{ 'libelle requis' | translate }}</small>
      </div>
    </div>
    <!--  -->
    <div class="row mb-2">
      <div class="col-md-2">
        <label for="note">Note</label>
      </div>
      <div class="col-md-8">
        <textarea [(ngModel)]="element.note" name="libelle" class="form-control" rows="2"></textarea>
      </div>
    </div>
    <!--  -->

  </div>


  <ng-template pTemplate="footer">
    <p-button styleClass="p-button-outlined" (click)="hideDialog()">
      <!-- <mat-icon>cancel</mat-icon> -->&nbsp;Annuler</p-button>&nbsp;&nbsp;
    <p-button styleClass="p-button-raised p-button-success" (click)="savePermis()" *ngIf="element.description">
      <!--  <mat-icon>save</mat-icon> -->&nbsp;Enregistrer
    </p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>